#container {
    gap: 0;
}

form {
    display: flex;
    flex-direction: column;
    height: 10rem;
    gap: 1rem;
    text-align: center;
}

.auth-input {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #F0EB8D;
}

.auth-btn {
    margin-top: 1rem;
    background-color: #413543;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    box-shadow: 0 2px 5px rgba(143, 67, 238, 0.1);
    color: #F0EB8D;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        text-shadow: 5px, 5px, 5px, #8F43EE;
    }

    & a {
        color: #F0EB8D;
        text-decoration: none;
    }
}