#container {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 13rem;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background: #2D2727;
    font-family: 'Outfit', sans-serif;
}

.dropdown-container {
    position: relative;
    width: 15rem;
    height: 2rem;
}

.select-btn {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    cursor: pointer;
    background-color: #413543;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(143, 67, 238, 0.1);
    transition: 0.1s ease-in;

    &:hover {
        box-shadow: 0 0 5px rgba(143, 67, 238, 0.25);
    }
}

.select-btn .curr-btn {
    overflow: auto;
    color: #F0EB8D;
}

.fa-chevron-down {
    color: #F0EB8D;
}

.select-btn .arrow-down{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.select-btn.open .arrow-down {
    transform: rotate(-180deg);
}

.list-items {
    position: relative;
    margin-top: 0.75rem;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    background-color: #413543;
    box-shadow: 0 0 5px rgba(143, 67, 238, 0.1);
    color: #F0EB8D;
    display: none;
}

.select-btn.open ~ .list-items {
    display: block;
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 2rem;
    margin-bottom: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.item:hover {
    background-color: #332a35;
}

.item .checkbox {
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25px;
    margin-right: 0.5rem;
    border: 1.5px solid #9043ee87;
    transition: all 0.3s ease-in-out;
}

.checkbox .check-icon {
    color: #F0EB8D;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1.25);
}

.item.checked .checkbox{
    background-color: #9043ee87;
    border-color: #F0EB8D;
}

.add-container {
    display: flex;
    width: 23rem;
    flex-direction: row;
    justify-content: space-around;
}

.add-from-list-btn {
    width: 5rem;
    height: 2rem;
    text-decoration: none;
    text-align: center;
    line-height: 2rem;
    border-radius: 1rem;
    background-color: #413543;
    border: none;
    color: #F0EB8D;
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(143, 67, 238, 0.1);
    transition: 0.1s ease-in;

    &:hover {
        box-shadow: 0 0 5px rgba(143, 67, 238, 0.25);
    }
}

.exchange-templates{
    margin-top: 2rem;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 22rem;
}

.add-from-template-btn {
    width: 7.5rem;
    height: 2rem;
    margin: 1rem 0.5rem;
    text-decoration: none;
    text-align: center;
    line-height: 2rem;
    border-radius: 1rem;
    background-color: #413543;
    border: none;
    color: #F0EB8D;
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(143, 67, 238, 0.1);
    transition: 0.1s ease-in;

    &:hover {
        box-shadow: 0 0 5px rgba(143, 67, 238, 0.25);
    }

}