{% extends 'base.html' %}

{% block head %}
<title>PDF Creator</title>
<link rel="stylesheet" href="../static/css/admin_styles.css">
{% endblock %}

{% block body %}
    <div id="nav-bar">
        {% if current_user.is_authenticated %}
        <a href="/logout" class="nav-btn">Logout</a>
        {% if current_user.role == "admin" %}
        <a href="/admin-panel" class="nav-btn">Admin panel</a>
        {% endif %}
        {% endif %}
    </div>

    <div id="container">
        <h1 id="header"><a href="/">PDF Creator</a></h1>

        {% if current_user.is_authenticated %}

        <div class="admin-cont">
            <a href="/register" class="btn">Register a user</a>
        </div>

        {% else %}
        <div class="auth-nav">
            <a href="/login" class="auth-btn">Login</a>
        </div>
        {% endif %}

    </div>
{% endblock %}