{% extends 'base.html' %}

{% block head %}
<title>PDF Creator</title>
<link rel="stylesheet" href="../static/css/opt_styles.css">
{% endblock %}

{% block body %}
    <div id="nav-bar">
        {% if current_user.is_authenticated %}
        <a href="/logout" class="nav-btn">Logout</a>
        {% if current_user.role == "admin" %}
        <a href="/admin-panel" class="nav-btn">Admin panel</a>
        {% endif %}
        {% endif %}
    </div>
    <div id="container">
        <h1 id="header"><a href="/">PDF Creator</a></h1>

        {% if current_user.is_authenticated %}
        <div class="buttons-cont">
            <a href="/curr-add" class="btn">Add new currency</a>
            <a href="/exchange-add" class="btn">Add new exchange point</a>
            <a href="/add-to-exchange" class="btn">Add currency to exchange</a>
            <a href="/curr-opt/from-list" class="btn">Add from list</a>
        </div>
        {% else %}
        <h1 class="login-warning">You are not logged in</h1>
        {% endif %}
    </div>
{% endblock %}