{% extends 'base.html' %}

{% block head %}
<title>PDF Creator</title>
<link rel="stylesheet" href="../static/css/opt_styles.css">
{% endblock %}


{% block body %}
    <div id="nav-bar">
        {% if current_user.is_authenticated %}
        <a href="/logout" class="nav-btn">Logout</a>
        {% if current_user.role == "admin" %}
        <a href="/admin-panel" class="nav-btn">Admin panel</a>
        {% endif %}
        {% endif %}
    </div>

    <div id="container">
        <h1 id="header">PDF Creator</h1>

        {% if not current_user.is_authenticated %}
        <a href="/login" class="auth-btn">Login</a>
        {% else %}
        <div class="add-cont">
            <form action="/exchange-add" method="post">
                <input type="text" name="exchange" id="exchange-input" placeholder="Exchange name"/>
                <input type="submit" value="Add">
            </form>
        </div>
        {% endif %}

    </div>
{% endblock %}